body{
	margin:0;
}

.layout{
	max-height: 5em;
	position:fixed;
	width:100%;
	background-color: white;
	z-index: 99;
	-webkit-transition: max-height 0.8s ease-out;
	-moz-transition: max-height 0.8s ease-out;
    transition: max-height 0.8s ease-out;
    overflow: hidden;
}

.layout.expanded{
	height: auto;
    max-height: 25em;
}

#logo{
	display: none;
}

.maintitle{
	font-size: 1.5em;
	margin-right: 10px;
	float:right;
	color: #858585;
	font-family: 'Abel', sans-serif;
	text-transform: uppercase;
	font-weight:bold;
	margin-top: 1em; 
}

.navigation{
	margin-top: 1em;
}

#hamburger{
	height:2.7em;
	margin-left: 1em;
	margin-top: 1.2em;
	cursor: pointer;
	display: inline;
}

ul { list-style-type: none; } 

.navigation li{
	font-family: Viga,Roboto,Helvetica,Arial,sans-serif;
	line-height: 2em;
	font-size:1.1em;
	cursor: pointer;
	margin-left: -2.6em;
	color:#858585;
}

.navigation li .text{
	margin-left: 2.6em;
}

.navigation li:hover{
	color:black;
	background-color: #f3f3f3;
}

.content{
	padding-top: 4em;
	width: 100%;
}


#container{
	
}

#background{
	width:100%;
	height:100%;
	overflow: hidden;
	position: absolute;
}

#background-image{
	width:auto;
	height:100%;
	-webkit-transform: scaleX(1);
    transform: scaleX(1);
}	
/*
body{height:100%;
   width:100%;
   background-image:url("../img/homepage2.jpg");
   background-repeat:no-repeat;
   background-size:cover;
}
*/
/*for non phones*/
@media only screen and (min-width: 741px){

	#logo{
		margin-left: 2em;
		/*height:10.7em;*/
		width:10.7em;
		display: block;
	}

	.navigation{
		position:fixed;
		width:240px;
		/*margin-top: 9.7em;*/
		display: inline;
		/*margin-left: -12.7em;*/
	}

	.navigation li{
		text-transform: uppercase;
		overflow: auto;
		border-bottom:1px solid;
		margin-right: 40px;
		margin-left: 0;
		font-size: 1em;
	}

	.navigation li .text{
		float:right;
		display: block;
		line-height: 3em;
		font-size: 0.9em;
		margin-left: 0;
	}

	.navigation li:hover{
		background-color: #FFFFFF;
	}

	.content{
		width: -moz-calc(100% - 240px);
	    width: -webkit-calc(100% - 240px);
	    width: calc(100% - 240px);
	    margin-left: 240px;
	}

	#hamburger{
		display: none;
	}


	.maintitle{
		font-size: 2em;
		margin-right: 40px;
		margin-top: 0.7em; 
	}

	.layout{
		overflow: visible;
	}

	.content{
		padding-top: 5.7em;
	}

	html,body{
		height:100%;
	}

	#background-image{
		width:auto;
		height: 100%;
		-webkit-transform: scaleX(-1);
    	transform: scaleX(-1);
    	float: right;
	}

}

/*for tiny screens*/
@media only screen and (max-width: 380px){

	.maintitle{
		font-size: 1.1em;
		margin-top: 1.7em; 
	}

	.subtitle{
		display: none;
	}

	#hamburger{
		height:2em;
		margin-top: 1.5em;
		margin-left: 0.5em;
	}
}