body{
	margin:0;
}

.title{
	height:5.7em;
	position:fixed;
	width:100%;
	/*border-bottom: 1px solid #C9C9C9;*/
	background-color: white;
	z-index: 99;
}

#logo{
	display: none;
}

.maintitle{
	font-size: 1.5em;
	margin-right: 10px;
	float:right;
	color: #858585;
	font-family: 'Abel', sans-serif;
	text-transform: uppercase;
	font-weight:bold;
	margin-top: 1em; 
}

.navigation{
	display: none;
}

#hamburger{
	height:2.7em;
	margin-left: 1em;
	margin-top: 1.2em;
	cursor: pointer;
	display: inline;
}

ul { list-style-type: none; } 

.navigation li{
	text-transform: uppercase;
	color:#858585;
	font-family: Viga,Roboto,Helvetica,Arial,sans-serif;
	cursor: pointer;
	overflow: auto;
	border-bottom:1px solid;
	margin-right: 40px;
}

.navigation li .text{
	float:right;
	display: block;
	line-height: 3em;
	font-size: 0.9em;
}

.navigation li:hover{
	color:black;
}

.content{
	padding-top: 5.7em;
	width: 100%;
}


#container{
	
}

/*for non phones*/
@media only screen and (min-width: 741px){

	#logo{
		margin-left: 2em;
		height:10.7em;
		display: inline;
	}

	.navigation{
		position:fixed;
		width:240px;
		margin-top: 9.7em;
		display: inline;
	}

	.content{
		width: -moz-calc(100% - 240px);
	    width: -webkit-calc(100% - 240px);
	    width: calc(100% - 240px);
	    margin-left: 240px;
	}

	#hamburger{
		display: none;
	}


	.maintitle{
		font-size: 2em;
		margin-right: 40px;
		margin-top: 0.7em; 
	}


}
